.tfstate
.terraform
.tfplan
.lock.hcl
provider.tf
data/
locals.tf
variables.tf
outputs.tf
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Sensitive deployment files (contain auth keys)
TAILSCALE_DEPLOYMENT_GUIDE.md

# Local Credentials
cred.xml

# Google Cloud
**/gcloud/**
*gcloud*
**/google-cloud/**
*google-cloud*
*-service-account.json
*-sa-key.json
*-gcloud-key.json

